<h1>app.component.html</h1>

<a [routerLink]="'page1'">page1</a> |
<a [routerLink]="'page2'">page2</a> |
<a [routerLink]="'page3'">page3</a> |
<a [routerLink]="'page4'">page4</a> |
<a [routerLink]="'page5'">page5</a>

<app-component-a></app-component-a>

<router-outlet></router-outlet>

<pre>

    Composants déclarés dans le appModule : A
    Composants déclarés dans le module de Page1 : B
    Composants déclarés dans le module de Page2 : C
    Composants déclarés dans leurs propres modules : D/E/F/G/H/I

    * Utilisation des composants :
    App    : A
    Page 1 : B/D/F
    Page 2 : C/E/F/H
    Page 3 : H
    Page 4 : I
    Page 5 : I

    * Build :
    Page1: B/D
    Page2: C/E
    Page 3 : -
    Page 4 : -
    Page 5 : -
    common: F/H/I
    main: A

</pre>
