<h1>app.component.html</h1>

<a [routerLink]="'page1'">page1</a> |
<a [routerLink]="'page2'">page2</a>

<app-component-a></app-component-a>

<router-outlet></router-outlet>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Composant</th>
            <th>Description</th>
            <th>Module main.js</th>
            <th>Module page1.js</th>
            <th>Module page2.js</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>Déclaré dans app-module</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>B</td>
            <td>Déclaré dans page1-module</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>C</td>
            <td>Déclaré dans page2-module</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>D</td>
            <td>Déclaré dans un composantD-module importé dans page1-module</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>E</td>
            <td>Déclaré dans un composantE-module importé dans page2-module</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>F</td>
            <td>Déclaré dans un composantF-module importé dans page1-module et page2-module</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>G</td>
            <td>Déclaré dans un composantG-module importé dans aucun module</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
